.blog-site-header{
  text-align: left;
  display: inline;
  float: left;
  width: 100%;
}

.blog-site-branding{
  text-align: left;
  display: inline;
  padding-left: 5%;
  a {
    font-size: 1em;
  }
}
.blog-title{
  font-size: 2em;
  text-align: left;
  display: inline;
}
.blog-menu{
  padding-left: 55%;
  text-align: left;
  display: inline;
  a {
    font-size: 3pt;
  }
}
