.blog{
  color: black;
 text-align: center;
 padding-left: 9%;
 .widget-title{
   min-width: 200px;
   margin-left: 25px;


 }

  .site-main{

  }
  .blog-post{
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    .entry-content{
      display: inline;
      text-align: left;
      margin: 10px 0px 0px 10px;

      h2{
        margin: 0;
        font-size: 2em;
      }
      p{
        margin: 0;
      }
    }
  }
  .blog-body{
    display: flex;
    justify-content: space-between;
    text-align: left;
    clear: left;
    aside{
      h2{
        font-size: 1.7em;
      }
    }
  }
  .blog-post-area{
    background-color: white;
    display: inline;
  }
  article{
    display: inline;
  }

  .blog-thumbnail{
    display: inline;
    min-width: 200px;
  }
  .blog-excerpt{
    display: inline;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .blog-post-by{
    display: inline;
    a{
      color: red;
    }

  }
  .blog-meta{
    padding-bottom: 15px;
  }
  .sticky{
    display: none;
  }
  .sticky-title{
    padding-top: 3em;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white;

  }
  .sticky-title-img{
    position: relative;
    color: white;
    bottom: 3em;
    right: 3em;
    margin-left: 2em;
    font-size: 1.5em;
  }
  #blog-sidebar{
    float: left;
    padding-left: 1em;
    h2{
      margin: 0;
      margin-top: 1em;
    }
  }
  a {
    color: black;
  }
  a:hover{
    color: gray;
  }
  background: white;
  .site-content{
    background: white;
  }
  ul{
    display: block;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;
    margin-left: 25px;
  }
  li{
    padding-bottom: 2em;
    max-width: 200px;
  }


  hr {
    display: block;
    margin: 0em 0;
    padding: 0;
  }

}
