.single{
  background-color: white;
  color: black;
 padding-left: 9%;
 text-align: left;
 .site-content{
   background-color: white;
 }
 .content-area{

 }
 .site-main{
   display: flex;
   justify-content: space-between;
  }
 a {
   color: black;
 }
  ul{
     display: inline;
     list-style-type: none;
     padding: 0 0 0 0;
     margin: 0;

   }
   li{
     padding-bottom: 2em;
     max-width: 200px;
   }
   .widget-title{
     min-width: 200px;
     margin-left: 25px;
   }
   aside{
     display: none;
   }
   @media screen and (min-width: 880px) {
     aside{
       display: block;
       h2{
         font-size: 1.7em;
       }
     }
   }
   .artile-line-blog-comment{
      width: 90%;
   }
   .comment-content{
     padding-left: 25px;
   }
   .comment-metadata{
     min-width: 250px;
     padding: 10px 10px;
   }
}
