.blog{
  color: black;
 text-align: center;
 padding-left: 9%;
 .widget-title{
   padding-right: 15px;
   margin-right: 15px;
   min-width: 200px;
   margin-left: 5px;
}
  .blog-body{
    display: flex;
    justify-content: space-between;
    text-align: left;
    clear: left;
    aside{
      display: none;
    }
    @media screen and (min-width: 880px) {
      aside{
        display: block;
        h2{
          font-size: 1.7em;
        }
      }
    }



  }
  .blog-post{
   display: flex;
    justify-content: space-around;
    max-width: 700px;
    .entry-content{
      position: relative;
      display: inline;
      text-align: left;
      margin: 10px 0px 0px 10px;

      h2{
        margin: 0;
        font-size: 2em;
      }
      p{
        margin: 0;
      }
    }
    .blog-excerpt{
      display: none;
    }
    .blog-meta{
      display: none;
    }
    .entry-title{
      position: absolute;
      top: 180px;
      right: 80px;
      margin-right: 0em;
      margin-left: 0em;
      line-height: 50%;
      max-width: 200px;
      min-width: 200px;
      a{
        color: white;
        font-size: 12pt;
      }

    }
    .blog-thumbnail{
      display: inline;
      max-width: 275px;
      min-width: 275px;
    }

    @media screen and (min-width: 600px) {
      .blog-post{

      }
      .blog-excerpt{
        display: block;
      }
      .blog-thumbnail{
        display: inline;
        min-width: 200px;
        max-width: 200px;
      }
      .blog-meta{
        display: block;
      }
      .entry-title{
         position: relative;
          top: 0em;
          right: 0em;
        // margin-left: 0em;
        // font-size: 1.5em;
          background-color: white;
        a{
          color: black;
        }

      }
    }
  }

  .blog-post-area{
    background-color: white;
    display: inline;



  }
  article{
    display: inline;
    // img{
    //   max-width: 500px
    // }
  }


  .blog-excerpt{
    display: inline;
    padding-top: 10px;
    padding-bottom: 25px;
  }
  .blog-post-by{
    display: inline;
    a{
      color: red;
    }

  }
  .blog-meta{
    padding-bottom: 15px;
  }
  .sticky{
    display: none;
  }
  .sticky-title{
    padding-top: 3em;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white;

  }
  .sticky-title-img{
    position: relative;
    color: white;
    bottom: 3em;
    right: 3em;
    margin-left: 2em;
    font-size: 1.5em;
  }
  #blog-sidebar{
    float: left;
    padding-left: 1em;
    h2{
      margin: 0;
      margin-top: 1em;
    }
  }
  a {
    color: black;
  }
  a:hover{
    color: gray;
  }
  background: white;
  .site-content{
    background: white;
  }
  ul{
    display: block;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0;
    margin-left: 25px;
  }
  li{
    padding-bottom: 2em;
    max-width: 200px;
  }


  hr {
    display: block;
    margin: 0em 0;
    padding: 0;
  }

}
