.blog{
  color: black;
 text-align: center;

  .site-main{

  }
  .blog-post{
    display: inline;
  }
  .blog-body{
    display: flex;
    justify-content: space-between;
    text-align: left;
    clear: left;
  }
  .blog-post-area{
    background-color: white;
    display: inline;
  }
  article{
    display: inline;
  }
  .sticky{
    display: none;
  }
  .sticky-title{
    padding-top: 3em;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white;

  }
  .sticky-title-img{
    position: relative;
    color: white;
    bottom: 3em;
    right: 3em;
    margin-left: 2em;
    font-size: 1.5em;
  }
  #blog-sidebar{
    float: left;
    padding-right: 1em;
    h2{
      margin: 0;
      margin-top: 1em;
    }
  }
  a {
    color: black;
  }
  a:hover{
    color: gray;
  }
  background: white;
  .site-content{
    background: white;
  }
  ul{
    display: block;
    list-style-type: none;
    padding: 0 4em 0 0;
    margin: 0;
    margin-left: 1em;
  }
  li{
    padding-top: 1em;
  }

  hr {
    display: block;
    margin: 1em 0;
    padding: 0;
  }

}
