.page{
  text-align: center;
  position: relative;
}

.post-thumbnail img{
    height: 500px;
    width: 500px;
}

.page-section{
width: 100%;
line-height: 0;
position: relative;
}
@media (min-width:850px) {
  .page-section{
    width: 50%;
    line-height: 0;
    position: relative
  }
  img{
    height: inherit;
    width: inherit;
  }
}


#about-me{
  background-color: red;
  float: right;
}
#photo-site{
  background-color: green;
  float: left;
}
#mobile{
  background-color: blue;
  float: right;
}

#bot{
  background-color: yellow;
  float: left;
}



.site-title{
  text-align: left;
}
