.page{
  text-align: center;
  position: relative;
}
.site-main{
  max-width: 850px;
}

.landing-page{
  padding-top: 30px;
  max-width: 1600px;

}
.landing-page h3{
 text-align: left;

}
.post-thumbnail img{
    height: 300px;
    width: 300px;
}

.page-section{
padding-top: 25px;
width: 100%;
line-height: 0;
position: relative;
}
@media (min-width:900px) {
  .page-section{
    width: 50%;
    line-height: 0;
    position: relative
  }
  img{
    height: inherit;
    width: inherit;
  }
  #about-me{
    padding-right: 100px;
  }
  #photo-site{
    padding-left: 100px
  }
  #mobile{
    padding-right: 100px
  }

  #bot{
    padding-left: 100px
  }
}


#about-me{
  float: right;
}
#photo-site{
  float: left;
}
#mobile{
  float: right;
}

#bot{
  float: left;
}



.site-title{
  text-align: left;
}
